/* header_section */
.header_section{
    position: sticky;
    top: 0px;
    z-index: 1;
}
body{
    background: whitesmoke;
}


.header_section .navbar .navbar-brand .yz_span_img{
    height: 73px;
}
.header_section .navbar .navbar-collapse .navbar-nav .nav-item .nav-link{
    color: black	;
}
.header_section .navbar .navbar-collapse .navbar-nav .nav-item .nav-link:hover {
    font-weight: 600;
    color: grey;
    border-bottom: black solid 1px;
    border-top: black solid 1px;
}
.header_section .navbar .navbar-collapse .con-icon .con-ion-aref{
    display: inline-block;
    background: black;
    color: #ffff;
    height: 40px;
    width: 40px;
    font-size: 21px;
    padding-left: 10px;
    padding-top: 4px;
    border-radius: 30px;
}
.header_section .navbar .navbar-collapse .con-icon .con-ion-aref:hover{
    background:#ffff;
    color: black;
    transition: 1s ease-in;
    border: 1px solid black;
}
/* ======================================================================== */
html, body {
    margin: 0;
    padding: 0;
  }
  
  .pic-ctn {
    width: 100vw;
    height: 200px;
  }
  
  @keyframes display {
    0% {
      transform: translateX(200px);
      opacity: 0;
    }
    10% {
      transform: translateX(0);
      opacity: 1;
    }
    20% {
      transform: translateX(0);
      opacity: 1;
    }
    30% {
      transform: translateX(-200px);
      opacity: 0;
    }
    100% {
      transform: translateX(-200px);
      opacity: 0;
    }
  }
  
  .pic-ctn {
    position: absolute;
    height: 350px;
    margin-top: 5vh;
    right: 0px;
  }
  .carusel-section{
    height: 400px;
  }
  
  .pic-ctn > img {
    position: absolute;
    top: 0;
    
    left: calc(50% - 100px);
    opacity: 0;
    animation: display 10s infinite;
  }
  
  img:nth-child(2) {
    animation-delay: 2s;
  }
  img:nth-child(3) {
    animation-delay: 4s;
  }
  img:nth-child(4) {
    animation-delay: 6s;
  }
  img:nth-child(5) {
    animation-delay: 8s;
  }

  /* ===================================================== */
.ad{
    height: 405px;
    padding: 10px;
}