/* header_section */
.header_section{
    position: sticky;
    top: 0px;
    z-index: 1;
}
body{
    background: whitesmoke;
}


.header_section .navbar .navbar-brand .yz_span_img{
    height: 73px;
}
.header_section .navbar .navbar-collapse .navbar-nav .nav-item .nav-link{
    color: black	;
}
.header_section .navbar .navbar-collapse .navbar-nav .nav-item .nav-link:hover {
    font-weight: 600;
    color: grey;
    border-bottom: black solid 1px;
    border-top: black solid 1px;
}
.header_section .navbar .navbar-collapse .con-icon .con-ion-aref{
    display: inline-block;
    background: black;
    color: #ffff;
    height: 40px;
    width: 40px;
    font-size: 21px;
    padding-left: 10px;
    padding-top: 4px;
    border-radius: 30px;
}
.header_section .navbar .navbar-collapse .con-icon .con-ion-aref:hover{
    background:#ffff;
    color: black;
    transition: 1s ease-in;
    border: 1px solid black;
}
/* ======================================================================== */
.pic-ctn{
    padding: 40px;
}

  /* ===================================================== */
.ad{
    
}
.video-div{
    height: 425px;
   
}
